<div id="page-content">
  <h2 class="text-center mt-4"><%=@article.title%></h2>
  <div class="container">
    <div class="card text-center col-6">
      <div class="card-header text-center fst-italic">
        by Lalaine Frane
      </div>
      <div class="card-body">
        <div class="card-text"><%= simple_format(@article.description)%></div>
        <a>
          <div style="display: inline-flex">
            <%= button_to 'Edit', edit_article_path(@article), method: :get, class: "btn btn-outline-info", style:"margin-left: 0.5rem" %>
            <%= button_to 'Delete', article_path(@article), data: { "turbo-method": :delete , "turbo-confirm": "Are you sure?"}, class: "btn btn-outline-danger", style:"margin-left: 0.5rem" %>
          </div>
        </a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  </div>
  <p><button><%= link_to 'Create New Article', new_article_path(), method: :get %></button> |
    <button><%= link_to 'Return to Home', articles_path %></button>
  </p>